<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Grievy Survey </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="progressContainer">
    <ion-progress-bar [value]="progress"></ion-progress-bar>
  </div>

  <div id="sliderContainer">
    <p *ngIf="showComponent === 'component1'">How much do you like pizza?</p>

    <app-survey2-comp *ngIf="showComponent === 'component2'"></app-survey2-comp>
    <app-survey3-comp *ngIf="showComponent === 'component3'"></app-survey3-comp>
    <app-survey4-comp *ngIf="showComponent === 'component4'"></app-survey4-comp>
    <ion-range
      *ngIf="showComponent !== 'resultComponent'"
      min="0"
      max="10"
      (ionChange)="onIonChange($event)"
      labelPlacement="stacked"
    >
      <ion-icon slot="start" size="large" name="thumbs-down"></ion-icon>
      <ion-icon slot="end" size="large" name="heart"></ion-icon>
    </ion-range>

    <app-survey-result
      *ngIf="showComponent === 'resultComponent'"
    ></app-survey-result>
  </div>
</ion-content>
